.category-dropdown-child {
  top: 1334.75px;
  left: 134.75px;
  border-top: 0.5px solid var(--text2);
  width: 1170.5px;
  height: 0.5px;
}
.category-dropdown-child,
.category-dropdown-inner,
.category-dropdown-item {
  position: absolute;
  box-sizing: border-box;
  opacity: 0.3;
}
.category-dropdown-item {
  top: 1797.75px;
  left: 134.75px;
  border-top: 0.5px solid var(--text2);
  width: 1170.5px;
  height: 0.5px;
}
.category-dropdown-inner {
  top: 141.75px;
  left: 367.75px;
  border-right: 0.5px solid var(--text2);
  width: 0.5px;
  height: 384.5px;
}
.fill-with-up-arrow1 {
  position: absolute;
  top: 5384px;
  left: 1305px;
  width: 46px;
  height: 46px;
}
.category-dropdown {
  position: relative;
  background-color: var(--primary);
  width: 100%;
  height: 5902px;
  overflow: hidden;
}
