.not-found {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 115px;
  font-weight: 500;
}
.your-visited-page {
  position: relative;
  font-size: var(--title-16px-medium-size);
  line-height: 24px;
  font-family: var(--title-16px-medium);
}
.not-found-parent {
  position: absolute;
  top: 383px;
  left: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.error {
  position: relative;
  background-color: var(--primary);
  width: 100%;
  height: 1278px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-110px-medium-size);
  color: var(--text2);
  font-family: var(--heading-24px-bold);
}
