.camera {
  position: absolute;
  bottom: 24px;
  left: calc(50% - 34px);
  line-height: 24px;
}
.category-phonecamera-hovern {
  position: relative;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 170px;
  height: 145px;
  overflow: hidden;
  text-align: left;
  font-size: var(--title-16px-medium-size);
  color: var(--text2);
  font-family: var(--title-16px-medium);
}
