.exclusive5 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.logo5 {
  position: relative;
  width: 118px;
  height: 24px;
}
.home4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header18,
.header19 {
  position: relative;
  width: 48px;
  height: 24px;
}
.header19 {
  width: 66px;
}
.about5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  cursor: pointer;
}
.header21 {
  position: relative;
  width: 61px;
  height: 24px;
}
.header-parent2,
.logo-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-parent2 {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--title-16px-medium-size);
  font-family: var(--title-16px-medium);
}
.logo-parent3 {
  gap: var(--gap-141xl);
}
.wishlist-icon4 {
  overflow: hidden;
  flex-shrink: 0;
}
.cart1-with-buy3,
.user-icon5,
.wishlist-icon4 {
  position: relative;
  width: 32px;
  height: 32px;
}
.user-icon5 {
  border-radius: var(--br-28xl);
  overflow: hidden;
  flex-shrink: 0;
}
.header17,
.search-component-set-parent2,
.wishlist-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.header17,
.search-component-set-parent2 {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.header17 {
  position: absolute;
  top: 88px;
  left: 135px;
  gap: var(--gap-111xl);
  text-align: left;
  font-size: var(--heading-24px-bold-size);
  color: var(--text2);
  font-family: var(--heading-24px-bold);
}
