.g27cq4-500x500-1-icon {
  position: absolute;
  height: 72.22%;
  width: 92.59%;
  top: 14.81%;
  right: 3.7%;
  bottom: 12.96%;
  left: 3.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.monitor-cart-small {
  position: relative;
  width: 54px;
  height: 54px;
  overflow: hidden;
}
