.cart-child1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--text2);
  height: 41px;
}
.fill-eye-icon4 {
  position: relative;
  width: 34px;
  height: 34px;
}
.fill-eye-wrapper1 {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart1-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.add-to-cart5 {
  position: relative;
  line-height: 18px;
}
.cart1-parent2 {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% - 51.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.z8a1x-3475-001-100-0000-light-icon {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 182px;
  height: 176px;
  object-fit: cover;
}
.z8a1x-3475-001-100-0000-light-wrapper {
  position: absolute;
  top: calc(50% - 103px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.cart4 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 270px;
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.quilted-satin-jacket {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.productjacket-with-wishlist,
.quilted-satin-jacket-parent,
.wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--button2);
}
.productjacket-with-wishlist,
.quilted-satin-jacket-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--title-16px-medium-size);
  color: var(--text2);
}
.productjacket-with-wishlist {
  position: relative;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--title-12px-regular-size);
  color: var(--primary);
  font-family: var(--title-16px-medium);
}
