.what-are-you {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
}
.component-2-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.property-1active,
.what-are-you-looking-for-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.what-are-you-looking-for-parent {
  flex-direction: row;
  gap: var(--gap-15xl);
}
.property-1active {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
  text-align: left;
  font-size: var(--title-12px-regular-size);
  color: var(--text2);
  font-family: var(--title-16px-medium);
}
