.fill-heart-icon11 {
  position: relative;
  width: 34px;
  height: 34px;
}
.fill-heart-parent9 {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sam-moghadam-khamseh-kvmdstrgo-icon {
  position: absolute;
  top: 0;
  left: 41px;
  width: 107px;
  height: 180px;
  object-fit: cover;
}
.sam-moghadam-khamseh-kvmdstrgo-wrapper {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.discount-percent-parent {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 270px;
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.div46,
.s-series-comfort-chair {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.div46 {
  text-decoration: line-through;
  color: var(--text2);
  opacity: 0.5;
}
.parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--button2);
}
.div47 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  width: 32px;
  height: 20px;
  flex-shrink: 0;
  opacity: 0.5;
}
.four-half-star-parent2,
.property-1variant4,
.s-series-comfort-chair-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.four-half-star-parent2 {
  flex-direction: row;
  font-size: var(--title-14px-regular-size);
}
.property-1variant4,
.s-series-comfort-chair-parent {
  flex-direction: column;
}
.property-1variant4 {
  position: relative;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--title-16px-medium-size);
  color: var(--text2);
  font-family: var(--title-16px-medium);
}
