.frame-child1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--text2);
  height: 41px;
}
.add-to-cart10 {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% - 48px);
  line-height: 24px;
  font-weight: 500;
}
.fill-heart-icon13 {
  position: relative;
  width: 34px;
  height: 34px;
}
.fill-heart-parent11 {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ak-900-01-500x500-1-icon1 {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 95px);
  width: 191px;
  height: 101px;
  object-fit: cover;
}
.ak-900-01-500x500-1-container {
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.discount-percent-container {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 270px;
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.ak-900-wired-keyboard1,
.div52 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.div52 {
  text-decoration: line-through;
  color: var(--text2);
  opacity: 0.5;
}
.parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--button2);
}
.div53 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  width: 32px;
  height: 20px;
  flex-shrink: 0;
  opacity: 0.5;
}
.ak-900-wired-keyboard-group,
.four-star-group,
.property-1cart-with-discount {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.four-star-group {
  flex-direction: row;
  font-size: var(--title-14px-regular-size);
}
.ak-900-wired-keyboard-group,
.property-1cart-with-discount {
  flex-direction: column;
  color: var(--text2);
}
.property-1cart-with-discount {
  position: relative;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--title-16px-medium-size);
  color: var(--primary);
  font-family: var(--title-16px-medium);
}
