.qrcode-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.qr-code {
  position: relative;
  background-color: var(--text2);
  width: 80px;
  height: 80px;
  overflow: hidden;
}
