.customer-service {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.friendly-247-customer {
  position: relative;
  font-size: var(--title-14px-regular-size);
  line-height: 21px;
}
.customer-service-parent,
.services-customer-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.services-customer-service {
  position: relative;
  width: 262px;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--title-20px-medium-size);
  color: var(--text2);
  font-family: var(--title-16px-medium);
}
