.free-and-fast {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.free-delivery-for {
  position: relative;
  font-size: var(--title-14px-regular-size);
  line-height: 21px;
  text-align: center;
}
.free-and-fast-delivery-parent,
.services-fast-delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.services-fast-delivery {
  position: relative;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--title-20px-medium-size);
  color: var(--text2);
  font-family: var(--title-16px-medium);
}
