.image-30-icon {
  position: absolute;
  height: 40%;
  width: 90%;
  top: 30%;
  right: 5%;
  bottom: 30%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.visa {
  position: relative;
  width: 42px;
  height: 28px;
  overflow: hidden;
}
