.vector-icon {
  position: absolute;
  height: 60.94%;
  width: 67.19%;
  top: 19.53%;
  right: 16.41%;
  bottom: 19.53%;
  left: 16.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child {
  position: absolute;
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--button2);
}
.div17 {
  position: absolute;
  height: 100%;
  width: 43.75%;
  top: 0;
  left: 25%;
  line-height: 18px;
  display: inline-block;
}
.ellipse-parent {
  position: absolute;
  height: 53.13%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 46.88%;
  left: 50%;
}
.wishliston {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-align: center;
  font-size: var(--title-12px-regular-size);
  color: var(--text);
  font-family: var(--title-16px-medium);
}
